<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<form th:action="@{/shop}" th:method="GET">
    <input type="submit" value="К списку товаров" />
</form>
<body>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Выйти" />
</form>
<form th:action="@{/userInfo}" th:method="GET">
    <input type="submit" value="Моё инфо" />
</form>
<form th:action="@{/admin/allUsers}" th:method="GET">
    <input type="submit" value="Все пользователи" />
</form>
<form th:action="@{/admin/addItem}" th:method="GET">
    <input type="submit" value="Добавить товар" />
</form>
<form th:action="@{/admin/editItem}" th:method="GET">
    <input type="submit" value="Редактировать товар" />
</form>
<form th:action="@{/admin/deleteItem}" th:method="GET">
    <input type="submit" value="Удалить товар" />
</form>

</body>
</html>